<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/passreset_sent.css' %}">
  </head>
  <body>
    <video class="video-background" autoplay muted loop> <source src="{% static 'assets/Images/INCHCAPE_HEADER_v6.1.mp4' %}" type="video/mp4"> Your browser does not support the video tag. </video>
    <div class="login">
        <form method="post">
            {% csrf_token %}
            <img src="{% static 'assets/Images/ISS.png' %}" alt="">
            <h1>RESET LINK SENT</h1>
            
            <center>
                <div class="signup_link" style="padding: 10px;">Registration successful. <br> Your details have been sent via email to alakar.harijan@iss-shipping.com. <br> Your user ID and Password shall be sent soon to you. <br> Thank you</b>!</div>
            </center>
        </form>
    </div>
  </body>
</html>